// COLORS

$color-primary: #673AB7;
$color-primary-dark: #512DA8;
$color-primary-light: #D1C4E9;
$color-accent: #FF9800;
$text-light: #fff;
$text-primary: #212121;
$text-secondary: #757575;

// TYPOGRAPHY
$default-font-size: 1.6rem;

// GRID

$max-width: 1140px;
