.page-section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include breakpoint(tab-port) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.examples-section {
  padding-top: 0;
  padding-bottom: 0;

  @include breakpoint(tab-port) {
    padding-bottom: 0;
  }
}

.try-section {
  background-color: $color-primary;
}
